/* VARIABLES */
:root {
  --primary-color: #2C955B;
  --secondary-color: #172953;
  --border-primary-color: #9E9E9E;
}

h1 {
  margin-bottom: 1rem;
}

/* NAVBAR */
nav {
  background-color: var(--primary-color);
}

nav .nav-wrapper ul {
  margin-right: 1rem;
}

nav .brand-logo {
  color: var(--secondary-color);
  margin-left: 2rem;
}

nav li a {
  color: var(--secondary-color);
}

#nav-mobile li a {
  font-size: 18px;
  font-weight: 500;
}

/* FORM */
main form {
  margin: 3rem;
}

.form-container {
  border: 1px solid var(--border-primary-color);
  margin-bottom: 5rem;
}

form .btn-large {
  background-color: var(--primary-color);
  /* color: var(--secondary-color) */
}

.label-gray {
  color: #9E9E9E;
}

#form-required-text {
  font-size: 20px;
}

/* CLIENT CARD */
#success-main {
  min-height: 600px;
}

#success-main .card {
  margin-top: 10rem;
}

#success-main .card-title {
  font-size: 40px;
  margin-bottom: 1.2rem;
}

#success-main .card-content {
  font-size: 18px;
}

#success-main .card-action a {
  color: var(--secondary-color)
}

.client-card {
  background-color: var(--secondary-color);
}

/* INDEX PAGE CARDS */
.index-card {
  background-color: var(--secondary-color);
}

#index-cards {
  margin-bottom: 5rem;
}

/* INDEX SHOWCASE */
#showcase {
  background: #333 url('../images/car-repair.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  position: relative;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* Overlay */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
}

#showcase-sub {
  font-size: 20px;
}

/* INDEX FEATURES AREA */
#features {
  background-color: #f4f4f4;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 5rem;
}

.row {
  margin: 0;
}

.check {
  color: var(--primary-color);
}

.checks {
  font-size: 20px;
}

/* FOOTER */
.page-footer {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  min-height: 120px;
}

#built-by {
  color: var(--secondary-color);
  font-weight: 600;
}

/* ACTION AREA */
.action-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

.action-btn {
  padding: 20px;
  background-color: var(--secondary-color);
  font-size: 24px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  transition: 0.2s;
}

.action-btn:hover {
  background-color: #298954;
}