:root {
  --primary-color: #2C955B;
  --secondary-color: #172953;
}

h1 {
  margin-bottom: 5rem;
}

main form {
  margin: 3rem;
}

.form-container {
  border: 1px solid #9E9E9E;
  margin-bottom: 5rem;
}

nav {
  background-color: var(--primary-color);
}

nav .nav-wrapper ul {
  margin-right: 1rem;
}

nav .brand-logo {
  color: var(--secondary-color);
  margin-left: 2rem;
}

nav li a {
  color: var(--secondary-color);
}

form .btn-large {
  background-color: var(--primary-color);
  /* color: var(--secondary-color) */
}

.label-gray {
  color: #9E9E9E;
}